<div id="header">
    <!-- <a href="/login/out">Log Out</a> -->
    <div class="header-wrapper">
        <div class="header-logo float-left">
            <!-- Logo -->
        </div>
        <div class="header-button float-right">
            <img id="usrIcon" title="User" src="/images/usr.png" />
            <div class="header-dropdown">
                <div class="header-dropdown-pointer"></div>
                <ul>
                    <a href="/login/out"><li>Logout</li></a>
                </ul>
            </div>
        </div>
    </div>
</div>