<div class="sidebar-container">
    <div class="sidebar-item<%if (view==="dashboard") { %>-selected<% } %>">
        <a href="/dashboard">
            <img title="Dashboard" src="/images/home.png">
        </a>
    </div>
    <div class="sidebar-item<%if (view==="customers") { %>-selected<% } %>">
        <a href="/customers">
            <img title="Agents" src="/images/customer.png">
        </a>
    </div>
    <div class="sidebar-item<%if (view==="groups") { %>-selected<% } %>">
        <a href="/groups">
            <img title="Groups" src="/images/groups.png">
        </a>
    </div>
    <div class="sidebar-item<%if (view==="agents") { %>-selected<% } %>">
        <a href="/agents">
            <img title="Agents" src="/images/agent.png">
        </a>
    </div>
    <div class="sidebar-item<%if (view==="messages") { %>-selected<% } %>">
        <a href="/messages">
            <img title="Messages" src="/images/messages.png">
        </a>
    </div>
    <div class="sidebar-item<%if (view==="config") { %>-selected<% } %>">
        <a href="/config">
            <img title="Configuration" src="/images/cfg.png">
        </a>
    </div>
</div>