body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  background-color: #EEE;
}

a {
  color: #00B7FF;
}

#header {
  border-bottom: 0px solid black;
  height: 50px;
  box-shadow: 0px 0px 2px 2px #CCC;
  padding: 8px;
  background-color: white;
}

.header-wrapper{
  width: 100%;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.header-logo{
  height: 50px;
  width: 200px;
  background-color: #444;
  color: white;
  line-height: 50px;
  text-align: center;
}

.header-button{
  border-radius: 100%;
  text-align: center;
  line-height: 50px;
  color: white;
  background-color: #444;
  height: 50px;
  width: 50px;
  margin-left: 10px;
}