<div class="card-container">
    <% for(var i=0; i<groups.length; i++) {%>
    <div class="card-item">
        <div class="card-header">
            <div class="card-header-title">
                <%= groups[i].name %>
            </div>
            <div class="card-header-icon">
                <%= groups[i].iconUrl %>
            </div>
        </div>
        <div class="card-body-container">
            Members: <%= groups[i].users.length %>
        </div>
        <div class="card-body-actions" id="card-actions-<%=i%>">
            <div class="card-body-action">
                <img src="/images/edit.png">
            </div>
            <div class="card-body-action">
                <img src="/images/delete.png">
            </div>
        </div>
    </div>
    <% } %>
</div>