<div class="card-container">
    <% for(var i=0; i<groups.length; i++) {%>
    <div class="card-item">
        <div class="card-header">
            <div class="card-header-title">
                <%= groups[i].name %>
            </div>
            <div class="card-header-icon">
                <% if (!groups[i].iconUrl) { %>
                    <img src="/images/groups/default.png">
                <% } else { %>
                    <img src="/images/groups/<%=groups[i].iconUrl%>">
                <% }%>
            </div>
        </div>
        <div class="card-body-container">
            Members: <%= groups[i].users.length %>
        </div>
        <div class="card-body-actions" id="card-actions-<%=i%>">
            <div title="Edit" class="card-body-action">
                <img src="/images/edit.png">
            </div>
            <div title="Delete" class="card-body-action">
                <img src="/images/delete.png">
            </div>
        </div>
    </div>
    <% } %>
</div>