<div id="header">
    <!-- <a href="/login/out">Log Out</a> -->
    <div class="header-wrapper">
        <div class="header-logo float-left">Logo</div>
        <div class="header-button float-right">Usr</div>
        <div class="header-button float-right">Cfg</div>
    </div>
</div>