<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <script type="text/javascript" src="javascripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  
  </head>
  <body>
    <header>
      <%- include('partials/header'); -%>
    </header>
    <div class="index-container">
      <div class="index-sidebar">
          <%- include('partials/sidebar'); -%>
      </div>
      <div class="index-content">
        
      </div>
    </div>
  </body>
</html>
